<footer class="site-footer" role="contentinfo">

    <div class="container">
        <div class="grid">

            <div class="grid__item one-third md-one-whole">
            
                <div class="grid">
                    <div class="grid__item one-whole md-one-third xs-one-whole">
                        <p>{{ macros.logo( _context ) }}</p>
                    </div>
                    <div class="grid__item one-whole md-two-thirds xs-one-whole">
                        {% include('includes/footer/footer_site-info.twig') %}
                    </div>
                </div>

            </div><!--.grid__item-->

            <div class="grid__item one-third md-one-whole">
                <h4>Site Navigation</h4>
                {{ macros.wp_menu(footer_menu,'list--unstyled') }} 
            </div><!--.grid__item-->

            <div class="grid__item one-third md-one-whole">
                <h4>Connect With Us</h4>
                {% include('includes/nav-social.twig') %}
            </div><!--.grid__item-->

        </div><!--.grid-->
    </div><!--.container-->

</footer><!-- .site-footer -->

<footer class="site-sub-footer">
  
    <div class="container">

        <ul class="nav nav--inline">
            {% for item in footer_util_menu.get_items %}
            <li class="{{item.classes | join(' ')}} panel">
                <a class="nav-main-link" href="{{item.get_link}}"> {{item.title}} </a>
            </li>
            {% endfor %}
        </ul>

        <p class="float--right">© {{ "now"|date('Y') }} {{ bloginfo('name') }}.
            <a target="_blank" href="http://www.drivedigital.ca">Vancouver Web Design</a>  by Drive Digital 
        </p>
    
    </div>
  
</footer><!-- .site-sub-footer -->

<!-- Image Wrapper + Intrinsic Ratios -->
<script>

// Image Wrapper Technique, to prevent page reflow!
(function(){
    var imgs = document.getElementById('page-content').getElementsByTagName('img');
    
    for ( var i=0; i < imgs.length; i++ ){
        var wrap      = document.createElement('div'),
            wrapO     = document.createElement('div'),
            wrapClass = wrapClass = imgs[i].getAttribute('data-wrap-class') || '' ;
            imgW      = parseInt(imgs[i].getAttribute('width')),
            imgH      = parseInt(imgs[i].getAttribute('height'));

        if( (typeof imgW !== NaN && imgW > 0) && (typeof imgH !== NaN && imgH > 0) ) {
            wrap.className  = 'img-wrap-inner';
            wrapO.className = 'img-wrap ' + wrapClass;
            imgs[i].parentNode.insertBefore(wrapO,imgs[i]); // Insert the image inside wrapO, inside wrap (need the double nesting)
            wrapO.appendChild(wrap).appendChild(imgs[i]);
            wrap.style.paddingBottom = imgH/imgW*100 + '%'; // Set the right padding bottom to achieve the intrinsic ratio
            wrapO.style.maxWidth = imgW + 'px';             // Wrap it all with a div that sets the max width equal to the img max width
            // Setting the maxwidth in the wrap (not wrapO) won't work because the paddingBottom will warp the image
        }
    }

})(window);

</script> <!-- End Image Wrapper + Intrinsic Ratios -->

