<!DOCTYPE html>
<html class="no-js" {{site.language_attributes}} >
    <head>
        <meta charset="{{site.charset}}" />
        <title>
            {% if wp_title %}
                {{ wp_title }} | {{ site.name }}
            {% else %}
                {{ site.name }}
            {% endif %}</title>
        <meta name="description" content="{{site.description}}">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
        <link rel="profile" href="http://gmpg.org/xfn/11">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="pingback" href="{{site.pingback_url}}" />
        {# Favicons #} 

        <link rel="shortcut icon" type="image/x-icon" href="{{ template_uri }}/assets/favicons/favicon.ico">

        {{ function('wp_head') }}
    </head>