<!DOCTYPE html>
<html class="no-js" {{site.language_attributes}} >
    <head>
        <meta charset="{{site.charset}}" />
        <title>{{wp_title}}</title>
        <meta name="description" content="{{site.description}}">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- {{ function('XUACompatible') }} -->
        <link rel="profile" href="http://gmpg.org/xfn/11">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="pingback" href="{{site.pingback_url}}" />
        {# Favicons #}
        <link rel="shortcut icon" href="{{ template_uri }}/assets/favicons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="{{ template_uri }}/assets/favicons/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ template_uri }}/assets/favicons/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ template_uri }}/assets/favicons/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ template_uri }}/assets/favicons/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ template_uri }}/assets/favicons/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ template_uri }}/assets/favicons/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ template_uri }}/assets/favicons/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ template_uri }}/assets/favicons/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ template_uri }}/assets/favicons/apple-touch-icon-152x152.png" />
        <meta name="msapplication-square70x70logo" content="{{ template_uri }}/assets/favicons/smalltile.png" />
        <meta name="msapplication-square150x150logo" content="{{ template_uri }}/assets/favicons/mediumtile.png" />
        <meta name="msapplication-wide310x150logo" content="{{ template_uri }}/assets/favicons/widetile.png" />
        <meta name="msapplication-square310x310logo" content="{{ template_uri }}/assets/favicons/largetile.png" />
        {{ function('wp_head') }}
    </head>