<header id="site-header" class="site-header site-header--fixed site-header--vertical js-dinner-menu-header" role="banner">

    <div class="site-header__container container">

        {{ macros.logo(_context, 'site-branding--header site-brading--vertical') }}
     
        <nav class="site-nav" role="navigation">
  
            {% if site_settings.site_cta %}
                <a href="{{ site_settings.site_cta_link }}" class="site-nav__cta btn element-hidden--desk">{{ site_settings.site_cta_title }}</a>
            {% endif %}

            <span class="nav-dropdown element-hidden--mobile">
                {{ macros.wp_menu(menu, 'site-nav__menu site-nav__menu--vertical') }}
            </span>
          

            <button type="button" class="site-header__toggle btn btn--toggle js-navigation-toggle" data-target="#mobile-nav" >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </nav><!-- .site-nav-->
        
    </div> 
    
    <div class="site-header__bottom">
     
        <div class="container text--center element-hidden--mobile"> 
            {% if site_settings.site_cta %}
            <a href="{{ site_settings.site_cta_link }}" class="site-nav__cta btn btn--full">{{ site_settings.site_cta_title }}</a>
            {% endif %}

            {% if util_menu %}
            <nav class="site-util">
                {{ macros.wp_menu(util_menu , 'site-util__menu site-util__menu--vertical' ) }} 
            </nav>
            {% endif %}
            <p class="text--center">
                © {{ "now"|date('Y') }} {{ bloginfo('name') }}.
            </p>
        </div>
        
    </div>

</header><!-- .site-header -->


{% include('includes/header/header_nav-mobile.twig') %}



        