{% if post.masthead_title %}

<section class="page-masthead hero hero--overlay hero--fluid">
    
    <div class="hero__body">
        <div class="container container--small">
            <h1 class="hero__heading">
                {{ post.masthead_title }}
            </h1>

            {% if post.masthead_subtitle %}
                <p>{{ post.masthead_subtitle }}</p>
            {% endif %}
          
            {% if post.masthead_cta %}
                <p><a href="{{ post.get_field('masthead_cta_link') }}" class="btn">{{ post.masthead_cta_text }}</a></p>
            {% endif %}

        </div>
    </div>

   <div 
      class="hero__bg js-img-fade" 
      style="background-image:url( {{ post.get_field('masthead_background_image').sizes.masthead }} )"></div>

</section><!--.page-masthead-->

{% endif %}