{% extends "layouts/layout-base.twig" %}

{% block content %}
  
    <div class="container container--small">

        <header>
            <h1>{{ page_title }} </h1>
        </header>
          
        {% for post in posts %}

            <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
                <header class="entry-header ">
                    <h2 class="entry-title">
                        <a href="{{post.link}}">{{ post.title }}</a>
                    </h2>
                    <time>{{ post.display_date }}</time>
                </header>

                <p class="entry-summary">
                    {{ post.post_excerpt }}
                </p>

            </article>

        {% else %}

            <article>
                <p>Sorry, but your search returned no results. Try searching with different keywords.</p>
            </article>
            
        {% endfor %}
        
        {{ include('includes/pagination.twig') }}

        {{ include('includes/searchform.twig') }}
    
    </div>

{% endblock %}
