{% extends "layouts/layout-base.twig" %}

{% block content %}

    <div class="container container--sm">

        <article class="post post--{{post.post_type}}" id="post-{{post.ID}}">
            <header class="entry-header">
                <h1 class="entry-title">{{ post.title }}</h1>
                <time>{{ post.display_date }}</time>
            </header>
            {{post.content}}
        </article>

        <aside class="post-aside">   

            {% if prev_post or next_post %}
            <ul class="post-navigation nav nav--split"> 

                {% if prev_post %}
                <li class="nav--split__first">
                    <a href="{{ prev_post.get_permalink }}">
                        Previous Post <br>
                        <b class="element-hidden--sm">{{ prev_post.title }}</b>
                    </a>
                </li>
                {% endif %}

                {% if next_post %} 
                <li class="nav--split__last">
                    <a href="{{ next_post.get_permalink }}">
                        Next Post <br>
                        <b class="element-hidden--sm">{{ next_post.title }}</b>
                    </a>
                </li>
                {% endif %}

            </ul>
            {% endif %}

        </aside>
        
    </div>

{% endblock %}