{% extends 'layouts/base.twig' %}

{% block content %} 

  <h1>{{ title }}</h1>

  {% for post in posts %}

    <article class="post post--{{post.post_type}}" id="post-{{post.ID}}"> 

      <header class="entry-header">

        <h2 class="entry-title">
          <a href="{{post.link}}">{{ post.title }}</a>
        </h2>

        <time>{{ post.display_date }}</time>

      </header>

      <p class="entry-summary">
        {{ post.post_excerpt }}
      </p>  

    </article><!-- .post --> 

  {% endfor %}
  
  {{ include('includes/pagination.twig') }} 

{% endblock %}
