<div class="site-info">
  
    {% if site_settings.address_street %}
        <dl>

            <dt>Address</dt>
            <dd> 

                <div>{{ site_settings.address_street }}</div>
                <div>{{ site_settings.address_city   }}, {{ site_settings.address_province   }}</div>
                <div>{{ site_settings.address_country }}</div>
                <div>{{ site_settings.address_postal }} </div>

            </dd>

        </dl>
    {% endif %}
    
    <br>

    {% if site_settings.site_phone_number %}
        <dl>
            <dt>Phone</dt>
            <dd> {{ site_settings.site_phone_number }} </dd>
        </dl>
    {% endif %}

    {% if site_settings.site_email_address %}
        <dl>
            <dt>Email</dt>
            <dd> {{ site_settings.site_email_address }} </dd>
        </dl>
    {% endif %}

</div>