<div class="slider">

    <div class="js-slider">
        
        <ul class="slides">

            {% for slide in field.slides %}

                <li class="slide">

                    <img 
                        class   = "js-slider-img"
                        src     = "{{slide.slide_image.sizes.featured}}" 
                        width   = "{{slide.slide_image.sizes['featured-width'] }}" 
                        height  = "{{slide.slide_image.sizes['featured-height'] }}" 
                        alt     = "{{slide.slide_image.alt }}" 
                        title   = "{{slide.slide_image.title}}"  >

                    <div class="slide__caption"> {{ slide.slide_caption }} </div>
                
                </li>

            {% endfor %}

        </ul>
        
    </div>

    <ul class="slider-nav js-slider-nav">

        {% for slide in field.slides %}

            <li class="slider-nav__item"></li>
            
        {% endfor %}

    </ul>
        
</div>
